<h3 style="font-weight: bold">Bike Details</h3>

<div
  style="display: flex; flex-direction: row; column-gap: 40%; align-items: end"
>
  <a [routerLink]="['/bikes']">< Back to Bikes</a>
</div>

<br />
<br />

<section *ngIf="bikeData$ | async as bikeData">
  <button (click)="onUpdate(bikeData)">UPDATE BIKE</button>

  <br />
  <br />

  <div style="display: flex; flex-direction: column">
    <span>
      <h3 class="field-title">Name:</h3>
      <h3>{{ bikeData.name }}</h3>
    </span>

    <span>
      <h3 class="field-title">Description:</h3>
      <h3>{{ bikeData.description }}</h3>
    </span>

    <span>
      <h3 class="field-title">Price:</h3>
      <h3>{{ bikeData.price }}</h3>
    </span>

    <span>
      <h3 class="field-title">Quantity:</h3>
      <h3>{{ bikeData.quantity }}</h3>
    </span>

    <span>
      <h3 class="field-title">Type:</h3>
      <h3>{{ bikeType[bikeData.type] }}</h3>
    </span>

    <span>
      <h3 class="field-title">Rating:</h3>
      <h3>{{ bikeData.rating }}</h3>
    </span>

    <span>
      <h3 class="field-title">Photo:</h3>
      <img
        [attr.src]="
          bikeData.photoUrl
            ? bikeData.photoUrl
            : './assets/240px-Icon-round-Question_mark.png'
        "
      />
      <div *ngIf="!bikeData.photoUrl">
        {{ bikeData.photoUrl ? "" : "No photo provided." }}
      </div>
    </span>
  </div>
</section>
