<h3 style="font-weight: bold">Bike List</h3>

<div style="display: flex; height: 48px">
  <button class="push-to-end" (click)="onCreate()">CREATE BIKE</button>
</div>

<br />
<mat-list>
  <mat-list-item *ngFor="let bike of bikes$ | async; last as last">
    <div style="display: flex; flex-direction: row">
      <a matListItemTitle [routerLink]="['/bikes', bike.id]">{{ bike.name }}</a>

      <button class="push-to-end" (click)="onDelete(bike.id)">
        DELETE BIKE
      </button>
    </div>

    <br />
    {{ bike | json }}
    <mat-divider
      [inset]="true"
      *ngIf="!last"
      style="margin-left: 0px"
    ></mat-divider>
  </mat-list-item>
</mat-list>
